BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0

BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: 0

PointerAlignment: Right
ReferenceAlignment: Left

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never

SortIncludes: Never
SpaceBeforeCpp11BracedList: true
